ul.beer-list-ul {
    list-style-type: none;
}

img.beer-img {
    height: 400px;
    width: 300px;
    position: relative;
    top: 70px;
}

li.beer-li {
    display: flex;
    margin: 40px;
}

h2.drink-title {
    font-size: 55px;
    font-family: 'Anton', sans-serif;
}

p.drink-strength {
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
}

p.drink-description {
    font-size: 30px;
    width: 700px;
    font-family: 'Open Sans Condensed', sans-serif;
}

div.strength-edit-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
}

div.beer-info-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-drink-button {
    position: relative;
    top: 20px;
}

.signup-error-list {
    position: relative;
    bottom: 30px;
}

.beer-li {
    display: flex;
    justify-content: space-between;
}