.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login-username-label, .login-username-input {
    position: relative;
    right: 22px;
}

.login-error-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 35vh;
    right: 10vh
}
