.navigation-li {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
    background: rgb(11, 150, 243);
    height: 100px;
    position: relative;
}

.navigation-li>a {
    text-decoration: none;
    color: white;
    z-index: 51;
}

a.active {
    color: purple;
    font-weight: bold;
}

ul.profile-dropdown {
    list-style-type: none;
    position: relative;
    right: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    right: -300px;
    transition: all 0.2s linear;
    background: linear-gradient(to bottom right, #000428, #004e92);
    box-shadow: 0 0 8px 1px #000428;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-button {
    width: 170px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
}

#side {
    position: absolute;
    bottom: inherit;
    left: inherit;
    z-index: 200;
    right: 5px;
    top: 5px;
}

#side::before, #side::after {
    background-color: #1db7e2;
}

.email, .username {
    position: relative;
    top: 60px;
}

.open-menu-button {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    position: relative;
}

.top-bar, .middle-bar, .bottom-bar {
    border-bottom: 5px solid white;
    width: 30px;
}

.login-tab, .logout-tab, .strong-tab, .home-tab {
    font-size: 20px;
}

.close-menu {
    color: #1db7e2;
}

.create-button {
    position: absolute;
    top: 200px;
}

.profile-button {
    position: absolute;
    top: 300px;
}