body {
    height: 100vh;
}

.navigation-li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
    background: rgb(11, 150, 243);
    height: 50px;
    border-radius: 10px;
}

.navigation-li>a {
    text-decoration: none;
    color: white;
    z-index: 51;
}

a.active {
    color: rgb(142, 240, 142);
    font-weight: bold;
}

button.profile-button {
    background-color: #9999ff;
    display: flex;
    color: white;
    border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: relative;
    left: 50px;
}

ul.profile-dropdown {
    list-style-type: none;
    position: relative;
    right: 20px;
}

#root {
    position: relative;
}

ul.container {
    padding-inline-start: 0;
}

form {
    position: relative;
}